/*css reset*/
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}

/*公共样式*/
/*banner start*/
.banner{
    height: 120px;
    background: url("../img/banner.jpg") no-repeat 50% 50%;
}
.banner a{
    display: block;
    height: 100%;
    width: 100%;
}
.wrapper{
    margin: 0 auto;
}
/*banner end*/
/*nav start*/
.main-menu{
    position: relative;
    height: 40px;
    color: #b0b0b0;
    background: #333;
    font-size: 12px;
    z-index: 30;
}
.container {
    width: 1226px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after{
    clear: both;
}
.nav{
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    float: left;
}
.nav a{
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}
.nav a:hover,.info a:hover{
    color: #ffffff;
}
.nav .sep,.info .sep{
    margin: 6px;
    color: #424242;
}
.trigger{
    width: 120px;
    margin-left: 15px;
}
.info{
    line-height: 40px;
}
.info, .trigger {

    position: relative;
    height: 40px;
    line-height: 40px;
    float: right;
    display: inline;
}
.trigger a, .info a{
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}
.trigger a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.trigger a:hover{
    background: #ffffff;
    color: #ff6700;
}
.cart-box{
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    width: 316px;
    height: 85px;
    padding: 15px 0 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.mini-num{
    margin-left: -4px;
}
/*nav end*/