<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(val,index) in arr">{{val}}-----{{index}}</li>
        </ul>
        <ul>
            <li v-for="(val,key) in student">{{key}}:{{val}}</li>
        </ul>


    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                arr:['a','b','c','d'],
                student:{
                    name:'s1',
                    age: 21,
                    number:01,
                    school:"hlju"
                }
            }
        })
    </script>
</body>
</html>